# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Dist/
Assets/AssetStoreTools*

# ===================== #
# MonoDevelop generated #
# ===================== #
*.csproj
*.unityproj
*.sln
*.pidb
*.userprefs

# ============ #
# OS generated #
# ============ #
*.DS_Store
