# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Dist/
Assets/AssetStoreTools*
Logs/
obj/
UserSettings/*

# ===================== #
# MonoDevelop generated #
# ===================== #
*.csproj
*.unityproj
*.sln
*.pidb
*.userprefs
*.idea

# ============ #
# OS generated #
# ============ #
*.DS_Store
